.cart-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 26px;
}
.cart-item * {
  color: var(--darkGrayishBlue);
  font-size: var(--smallText);
}

.cart-item__photo {
  width: 16%;
  border-radius: 7%;
  margin-right: 5%;
}

.cart-item__summary {
  width: 65%;
}
.cart-item__summary > * {
  font-size: 1rem;
  line-height: 1.4rem;
}
.cart-item__price-summary * {
  font-size: 1rem;
  letter-spacing: 0.6px;
}

.cart-item__name {
  overflow-x: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 94%;
}

.cart-item__price-summary {
  display: flex;
  flex-wrap: wrap;
}
.cart-item__price-summary * {
  margin-right: 5px;
}

.cart-item__price--total {
  font-family: "KumbhSans-Bold";
  color: black;
}

.cart-item-delete {
  position: absolute;
  top: 37%;
  right: 0;
}
