header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 6.2vw 20px 6.4vw;
}

.header__subsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 🔲 HEADER__SUBSECTION--LEFT  */

.header__sneakers-link img {
  width: 100%;
}

.header__user-menu-btn {
  margin-right: 4vw;
}

.header__open-cart {
  position: relative;
}

.header__user-menu--overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 2;
}

.header__user-menu--slide {
  transform: translateX(0) !important;
  transition: transform 0.5s;
}

/* 🔳 HEADER__SUBSECTION--RIGHT  */

.header__items-in-cart {
  position: absolute;
  top: -20%;
  right: -25%;
  background-color: var(--orange);
  color: white;
  font-size: 0.55rem;
  font-weight: bolder;
  border-radius: 15px;
  padding: 0px 6px;
}

.header__cart-btn {
  margin-right: 24px;
}

.header__user-icon img {
  width: 24px;
}

/*  */
/* TABLET */
/*  */

@media (min-width: 640px) {
  header {
    padding: 0;
    height: 7.7vw;
    border-bottom: 2px solid var(--lightGrayishBlue);
  }

  .header__sneakers-link {
    margin-right: 4vw;
  }

  .header__cart-btn img {
    width: 100%;
  }

  .header__cart-btn {
    margin-right: 3.3vw;
  }

  .header__user-icon img {
    width: 3.5vw;
  }
}

@media (min-width: 1024px) {
  .header__user-menu-btn {
    display: none;
  }
  .header__subsection--left {
    transform: translateY(-1.2%);
    height: 100%;
  }
  .header__user-menu-overlay {
    display: none;
  }
}
