@import url("common-styles.css");

* {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans";
}

@media (min-width: 376px) {
  .app {
    padding: 0 7vw;
  }

  main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4vw 6vw;
  }

  .product-container {
    width: 40%;
  }
}
