@font-face {
  font-family: KumbhSans-Regular;
  src: url("fonts/KumbhSans-Regular.ttf");
}
@font-face {
  font-family: KumbhSans-Medium;
  src: url("fonts/KumbhSans-Medium.ttf");
}
@font-face {
  font-family: KumbhSans-SemiBold;
  src: url("fonts/KumbhSans-SemiBold.ttf");
}
@font-face {
  font-family: KumbhSans-Bold;
  src: url("fonts/KumbhSans-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "KumbhSans-Regular";
}

h2,
h3,
h4 {
  font-family: "KumbhSans-Bold";
}

body {
  position: relative;
}

:root {
  /* Colors */
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);
  --veryDarkBlue: hsl(220, 13%, 13%);
  --darkGrayishBlue: hsl(219, 9%, 45%);
  --grayishBlue: hsl(220, 14%, 75%);
  --lightGrayishBlue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%); /* (with 75% opacity for lightbox background) */
  /* Font */
  --smallText: 0.95rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex-sb-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.container {
  padding-left: 6.2vw;
  padding-right: 6.4vw;
}

@media (min-width: 640px) {
  :root {
    --smallText: 1rem;
  }
  /* .container {
    padding-left: 11.3vw;
    padding-right: 11.3vw;
  } */
}

@media (min-width: 1024px) {
  /* .container {
    padding-left: 0vw;
    padding-right: 0vw;
  } */
}
