.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* pointer-events: none; */
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
}

/* @media (min-width: 375px) {
  .backdrop {
    align-items: baseline;
  }
} */
